@import url(style.css);

.notfound-title {
    font-size: 16em;
    color: crimson;
}

.notfound-text {
    font-size: 8em;
}

.notfound-btn {
    background-color: var(--clr-primary-400);
    color: var(--clr-secondary-400);
    font-family: var(--primary-font);
	font-size: 175%;
    font-weight: 500;
	border: 0 solid;
    border-radius: 4em;
    padding: 1em 3em;
}
