.notfound {
	margin: auto;
    padding-top: 12.5%;
    text-align: center;
}

.not-found__title {
    font-size: 12em;
}

.not-found__text {
	font-size: 8em;
}

.not-found__button {
	min-width: 1vw;
	width: 20vw;
    border-radius: 0;
}

.not-found__button-text {
    font-size: 1.5em;
	color: var(--bg-color);
}
