@import url(style.css);

.notfound {
	margin-left: auto;
    text-align: center;
}

.not-found__title {
    font-size: 12em;
}

.not-found__text {
	font-size: 8em;
}

.not-found__button {
    display: inline-block;
	background: var(--scd-txt-color);
	border: 0 solid;
    border-radius: 0;
    height: 10vh;
	width: 16vw;
    margin: 4em;
}

.not-found__button-text {
	color: var(--prm-txt-color);
    font-family: var(--font);
	font-size: 2em;
    font-weight: 500;
}
