@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700");

:root {
    --primary-font: "Montserrat", sans-serif;
    --bg-color: #050505;
    --clr-primary-400: #ff6a00;
    --clr-secondary-400: #e1dee3;
    --clr-secondary-500: #ffffff;
    --clr-accent-400: #ff9429;
    --clr-button: #d4d4d4;
}

.light-mode {
    --bg-color: #e1dee3;
    --clr-primary-400: #ff6a00;
    --clr-secondary-400: #1b1b1e;
    --clr-secondary-500: #050505;
    --clr-accent-400: #ff9429;
    --clr-button: #313131;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

html {
    color-scheme: light dark;
    text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    height: -webkit-fill-available;
}

body {
    background-color: var(--bg-color);
    font-family: var(--primary-font);
    font-size: 1.125rem;
    text-rendering: optimizeSpeed;
    line-height: 1.25;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    transition: background 500ms ease-in-out;
}

html,
body {
    overflow-x: hidden;
}

main {
    display: block;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

a {
    background-color: transparent;
}

a:visited {
    color: var(--clr-secondary-500);
}

b,
strong {
    font-weight: bolder;
}

img,
picture {
    display: block;
    max-width: 100%;
    height: auto;
    border-style: none;
    font-style: italic;
    text-transform: uppercase;
}

button,
input,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
}

button,
input {
    overflow: visible;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    appearance: button;
    text-transform: none;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[hidden] {
    display: none !important;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
i,
s,
strong {
    font-family: var(--primary-font);
    color: var(--clr-secondary-500);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.7em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.3em;
}

p {
    font-size: 1em;
}

i {
    margin-left: 5em;
}

li,
a {
    text-decoration: none;
}

ul {
    list-style: none;
}
