@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

:root {
	--primary-font: 'Montserrat', 'Arial', sans-serif;
    --bg-color: #050505;
    --clr-primary-400: #FF6A00;
    --clr-secondary-400: #E1DEE3;
    --clr-secondary-500: #FFFFFF;
    --clr-accent-400: #FF9429;
    --clr-button: #d4d4d4;
}

.light-mode {
    --bg-color: #E1DEE3;
    --clr-primary-400: #FF6A00;
    --clr-secondary-400: #1B1B1E;
    --clr-secondary-500: #050505;
    --clr-accent-400: #FF9429;
    --clr-button: #313131;
}

*,
*::before,
*::after {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

html {
    height: -webkit-fill-available;
    line-height: 1.15;
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

body {
    box-sizing: border-box;
    background: var(--bg-color);
    display: block;
    margin: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html, body {
    overflow-x:hidden;
}

main {
    display: block;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

a:visited {
    color: var(--clr-secondary-500);
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    display: block;
    max-width: 100%;
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    appearance: button;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

a, h1, h2, h3, h4, h5, h6, li, p, i, s, strong {
	color: var(--clr-secondary-500);
	font-family: var(--primary-font);
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.3em;
}

h3 {
	font-size: 2em;
}

h4 {
    font-size: 1.7em;
}


h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.3em;
}

p {
    font-size: 1em;
}

i {
    margin-left: 5em;
}

li, a {
	text-decoration: none;
}

ul {
	list-style: none;
}
