@import url(style.css);

.privacy-policy {
    font-size: 1.25rem;
	line-height: 2em;
    margin: 1em;
}

.privacy-policy h1 {
	padding: 0.5em;
}

.privacy-policy h2 {
	padding: 0.5em;
}

.privacy-policy p {
	text-indent: 1.5em;
}

.privacy-policy li {
    margin-left: 2em;
}
