#privacy-policy {
    margin: 1em;
    font-size: 1.25rem;
	line-height: 2em;
}

#privacy-policy h1 {
	padding: 0.5em;
}

#privacy-policy h2 {
	padding: 0.5em;
}

#privacy-policy p {
	text-indent: 1.5em;
}

#privacy-policy li {
    margin-left: 2em;
}

.email-link, #website-link {
    color: var(--prm-txt-color);
}

.email-link:hover, #website-link:hover {
    color: var(--fth-txt-color);
    text-decoration: underline;
}
