:root {
	--font: 'Montserrat', sans-serif;
	--prm-txt-color: #FFFFFF;
	--scd-txt-color: #FE6301;
	--trd-txt-color: #A1A1A1;
	--fth-txt-color: #D35304;
	--bg-color: #171716;
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

main {
    min-width: 1024px;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.3em;
}

a,
h1,
h2,
li,
p {
	color: var(--prm-txt-color);
	font-family: var(--font);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
    background-color: var(--bg-color);
}

nav #img {
	max-width: 75%;
	height: auto;
	margin: 1em;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.navbar>li {
	flex: 1;
	font-size: 1.4em;
	font-weight: 400;
	margin: .25em;
	padding: .25em;
	list-style: none;
}

.navbar>li a:hover {
	color: var(--scd-txt-color);
	transition-duration: .6s;
}

.navbar>li a:not(:hover) {
	color: var(--prm-txt-color);
	transition-duration: .7s;
}

.slider img {
	max-width: 100%;
	height: auto;
}

#games {
    max-width: 60vw;
	padding: 1.5em;
}

#games h1 {
	margin-bottom: 0.5em;
}

#games img {
	width: 50%;
	height: auto;
}

#games h2 {
    margin-top: 0.5em;
    color: var(--scd-txt-color);
}

#games p {
    margin-top: 0.5em;
    max-width: 25vw;
    font-size: 1.25em;
	line-height: 1.5em;
}

.badges {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.badges-img {
	height: 4vh;
	width: 4vw;
	flex-grow: 1;
}

#aboutus p {
    margin-top: 0.5em;
    font-size: 1.25em;
	line-height: 1.5em;
}

footer {
	background-color: var(--bg-color);
	color: var(--scd-txt-color);
}

#contact h1 {
	margin-top: .6em;
}

form {
	display: grid;
	padding: .5em;
}

label {
	padding: 0 1em .5em 0;
}

input {
	margin: 0 auto .75em;
	padding: 0.6em;
}

input,
textarea {
	font-family: var(--font);
	font-size: 0.8rem;
	background-color: var(--bg-color);
	color: var(--trd-txt-color);
	border-radius: 15px;
	border: 2px solid var(--trd-txt-color);
	min-width: 300px;
	max-width: 380px;
}

textarea {
	resize: none;
	height: 10vh;
	margin: 0 auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-top: 0.5em;
	padding-left: 0.5em;
	overflow: hidden;
}

textarea::placeholder {
	font-family: var(--font);
	font-size: 0.9rem;
}

input:focus,
textarea:focus {
	border: 2px solid var(--scd-txt-color);
	outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--scd-txt-color);
  -webkit-text-fill-color: var(--trd-txt-color);
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0.01s;
}

button {
	background-color: var(--scd-txt-color);
	border-radius: 15px;
	border: 0;
	font-size: 1rem;
	margin: .65em auto .75em;
	padding: .6em;
	min-width: 75pt;
	width: 10vw;
}

button:hover {
	background-color: var(--fth-txt-color);
	transition-duration: .6s;
}

button:not(:hover) {
	background-color: var(--scd-txt-color);
	transition-duration: .4s;
}

button:active {
	background-color: var(--trd-txt-color);
	transition-duration: .5s;
}

footer p {
	order: -1;
}

footer a,
footer p {
	color: var(--trd-txt-color);
}

footer a:hover {
	text-decoration: underline;
}

.links {
	padding-bottom: 0.5em;
}

.links a {
	padding: 0.5em;
}

#copyright {
	margin-bottom: 1.0em;
}