:root {
	--font: 'Montserrat', sans-serif;
    --prm-txt-color: #FFFFFF;
    --scd-txt-color: #FF6A00;
    --trd-txt-color: #E1DEE3;
    --fth-txt-color: #FF9429;
    --bg-color: #050505;
}

.light-mode {
    --prm-txt-color: #050505;
    --scd-txt-color: #FF6A00;
    --trd-txt-color: #1B1B1E;
    --fth-txt-color: #FF9429;
    --bg-color: #E1DEE3;
}

body {
    background: var(--bg-color);
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.3em;
}

a, h1, h2, h3, h4, h5, h6, li, p, i, s, strong {
	color: var(--prm-txt-color);
	font-family: var(--font);
}

i {
    margin-left: 5em;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
    background: var(--bg-color);
}

nav #logo {
	max-width: 75%;
	height: auto;
	margin: 1em;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.navbar>li {
	flex: 1;
    margin: 0.25em;
	padding: 0.25em;
	list-style: none;
}

.btn {
    font-size: 2em;
    font-weight: 600;
}

.btn:hover {
	color: var(--scd-txt-color);
	transition-duration: 0.65s;
}

.btn:not(:hover) {
	color: var(--prm-txt-color);
	transition-duration: 0.85s;
}

#icon {
    width: 48px;
    cursor: pointer;
}

.slider img {
	max-width: 100%;
	height: auto;
}

#games {
	padding: 1.5em;
}

#games h1 {
	margin-bottom: 0.5em;
}

#games img {
	width: 25vw;
	height: auto;
}

#games h2 {
    margin-top: 0.5em;
    color: var(--scd-txt-color);
}

#games p {
    margin-top: 0.5em;
    font-size: 1.25em;
	line-height: 1.5em;
}

.badges {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.badge {
    flex-grow: 1;
}

.badge-img {
    max-width: 100%;
    min-width: 35%;
    height: auto;
}

#aboutus p {
    margin-top: 0.5em;
    font-size: 1.25em;
	line-height: 1.5em;
}

footer {
	background: var(--bg-color);
	color: var(--scd-txt-color);
}

#contact h1 {
	margin-top: 0.5em;
}

form {
	display: grid;
	padding: 0.5em;
}

label {
	padding: 0 1em 0.5em 0;
}

input {
	margin: 0 auto 0.75em;
	padding: 0.6em;
}

input,
textarea {
	font-family: var(--font);
	font-size: 1.1rem;
	background: var(--bg-color);
	color: var(--trd-txt-color);
	border-radius: 15px;
	border: 2px solid var(--trd-txt-color);
	min-width: 24vw;
}

textarea {
	resize: none;
	height: 10vh;
	margin: 0 auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-top: 0.5em;
	padding-left: 0.5em;
	overflow: hidden;
}

input,
textarea::placeholder {
	font-family: var(--font);
	font-size: 1.1rem;
}

input:focus,
textarea:focus {
	border: 2px solid var(--scd-txt-color);
	outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--scd-txt-color);
  -webkit-text-fill-color: var(--trd-txt-color);
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background 5000s ease-in-out 0.25s;
}

button {
	background: var(--scd-txt-color);
	border-radius: 15px;
	border: 0;
	font-size: 1.5rem;
    font-weight: 500;
	margin: 0.5em auto 0.75em;
	padding: 0.3em;
	width: 20%;
}

button:hover {
	background: var(--fth-txt-color);
	transition-duration: 0.85s;
}

button:not(:hover) {
	background: var(--scd-txt-color);
	transition-duration: 0.65s;
}

button:active {
	background: var(--trd-txt-color);
	transition-duration: 0.5s;
}

footer a,
footer p {
	color: var(--trd-txt-color);
}

footer a:hover {
	text-decoration: underline;
}

footer p {
	order: -1;
}

.links {
    color: var(--trd-txt-color);
	padding-bottom: 0.5em;
    font-size: 1.15em;
}

.links a {
	padding: 0.5em;
}

#copyright {
	margin-bottom: 1.0em;
    font-size: 1.15em;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
background: var(--trd-txt-color);
}

::-webkit-scrollbar-thumb {
background: var(--scd-txt-color);
}

::-webkit-scrollbar-thumb:hover {
background: var(--fth-txt-color);
}

/* for legal pages links */

.email-link, .website-link {
    color: var(--prm-txt-color);
}

.email-link:hover, .website-link:hover {
    color: var(--fth-txt-color);
    text-decoration: underline;
}
