@import url(globals.css);

:root {
	--primary-font: 'Montserrat', 'Arial', sans-serif;
    --secondary-font: 'IBM Plex Sans', 'Arial', sans-serif;
    --bg-color: #050505;
    --clr-primary-400: #FF6A00;
    --clr-secondary-400: #E1DEE3;
    --clr-secondary-500: #FFFFFF;
    --clr-accent-400: #FF9429;
    --clr-button: #d4d4d4;
}

.light-mode {
    --bg-color: #E1DEE3;
    --clr-primary-400: #FF6A00;
    --clr-secondary-400: #1B1B1E;
    --clr-secondary-500: #050505;
    --clr-accent-400: #FF9429;
    --clr-button: #313131;
}

body {
    background: var(--bg-color);
    display: block;
    box-sizing: border-box;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.3em;
}

a, h1, h2, h3, h4, h5, h6, li, p, i, s, strong {
	color: var(--clr-secondary-500);
	font-family: var(--primary-font);
}

p {
    font-family: var(--secondary-font);
}

i {
    margin-left: 5em;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
    width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
    background: var(--bg-color);
}

.logo {
	margin: 1em;
	height: auto;
	max-width: 75%;
    outline: 0px;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.navbar>li {
	flex: 1;
    margin: 0.25em;
	padding: 0.25em;
	list-style: none;
}

.btn, .btn:not(:hover) {
    font-size: 2em;
    font-weight: 600;
    color: var(--clr-primary-400);
    transition-property: color;
	transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.btn:hover {
	color: var(--clr-accent-400);
	transition-property: color;
	transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.icon {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 48px;
    cursor: pointer;
}

.slider img {
	max-width: 100%;
	height: auto;
}

.games {
	padding: 1em;
}

.games h2 {
	margin-bottom: 0.5em;
}

.games h3 {
    color: var(--clr-primary-400);
}


.games>img {
	width: 8vw;
	height: auto;
    margin-top: 1em;
}

.games>p {
    margin: 1.25em 3em;
    font-size: 1.25em;
	line-height: 1.25em;
}

.badges {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.badge-go {
    flex-basis: 25%;
}

.badge-hw {
    flex-basis: 25%;
}

.badge-sm{
    flex-basis: 25%;
}

.badge-am {
    flex-basis: 25%;
}

.badge-img-go {
    max-width: 320px;
}

.badge-img-hw {
    max-width: 320px;
}

.badge-img-sm{
    max-width: 320px;
}

.badge-img-am {
    max-width: 320px;
}

.aboutus {
    padding: 1em;
}

.aboutus>p {
    margin: 1.25em 3em;
    font-size: 1.25em;
	line-height: 1.5em;
}

footer {
	background: var(--bg-color);
	color: var(--clr-primary-400);
}

footer p {
    font-family: var(--primary-font);
}

form {
	display: grid;
	padding: 0.5em;
}

label {
	padding: 0 1em 0.5em 0;
}

input {
	margin: 0.25em auto;
	padding: 0.6em;
}

input,
textarea {
	font-family: var(--primary-font);
	font-size: 1.25rem;
	background: var(--bg-color);
	color: var(--clr-secondary-400);
	border-radius: 0;
	border: 2px solid var(--clr-secondary-400);
	min-width: 25vw;
    max-width: fit-content;
}

textarea {
	resize: none;
	height: 10vh;
	margin: 0.5em auto;
	padding: 0.5em;
	overflow: hidden;
}

input,
textarea::placeholder {
	font-family: var(--primary-font);
	font-size: 1.25rem;
}

input:focus,
textarea:focus {
	border: 2px solid var(--clr-primary-400);
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    font-family: var(--primary-font);
    font-size: 1.25rem;
    border: 2px solid var(--clr-primary-400);
    -webkit-text-fill-color: var(--clr-secondary-400);
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-color) inset;
}

.submit__button, .submit__button:not(:hover), .submit__button:not(:active) {
    display: inline-block;
	background: var(--clr-primary-400);
	border: 0 solid;
    border-radius: 25px;
	margin: auto;
	padding: 0.5em;
    font-family: var(--primary-font);
	font-size: 1.5rem;
    font-weight: 500;
    transition-property: background-color;
	transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.submit__button:hover {
	background: var(--clr-accent-400);
    transition-property: background-color;
	transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.submit__button:active {
	background: var(--clr-button);
    color: var(--clr-accent-400);
    transition-property: background-color, color;
	transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

footer {
    margin: 1em;
}

footer a,
footer p {
	color: var(--clr-secondary-400);
}

footer a:hover {
	text-decoration: underline;
}

footer p {
	order: -1;
}

.links {
    color: var(--clr-secondary-400);
	padding: 0.5em;
    font-size: 1.15em;
}

.links>a {
	padding: 0.5em;
}

.copyright {
    font-size: 1.15em;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
background: var(--clr-secondary-400);
}

::-webkit-scrollbar-thumb {
background: var(--clr-primary-400);
}

::-webkit-scrollbar-thumb:hover {
background: var(--clr-accent-400);
}

/* for legal pages links */

.link {
    color: var(--clr-secondary-500);
}

.link:hover {
    color: var(--clr-accent-400);
    text-decoration: underline;
}
