# .gitignore file

# Operating system files
~*
._*
.Trashes
.Spotlight-V100
.DS_Store
.DS_Store?
ehthumbs.db
desktop.ini
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# Cache files
.cache
.eslintcache

# Logs
logs
*.log
*.log.*
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary directories
[Bb]uild/
[Bb]uild/[Rr]elease
[Bb]in/
[Oo]ut/
[Dd]ist/
[Dd]istribution

# Dependency files and directories
.npm/
node_modules/
package-lock.json

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test

# IDE
.vscode/
.vs/

# Netlify config files
.netlify
