# Default files and directories
.github/
.editorconfig
.gitattributes
.gitignore
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
FUNDING.yml
LEGAL.md
LICENSE
README.md

# Website related files
app-ads.txt
robots.txt
sellers.json
sitemap.xml
