:root {
	--font: 'Montserrat', sans-serif;
	--prm-txt-color: #fff;
	--scn-txt-color: #fe6301;
	--trd-txt-color: #a1a1a1;
	--fth-txt-color: #d35304;
	--ctn-bg-color: #171716;

}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth
}

body {
	background-color: var(--ctn-bg-color)
}

h1 {
	font-size: 1.8em
}

h2 {
	font-size: 1.3em
}

a,
h1,
h2,
li,
p {
	color: var(--prm-txt-color);
	font-family: var(--font)
}

a {
	text-decoration: none
}

ul {
	list-style: none
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: var(--ctn-bg-color)
}

nav #img {
	max-width: 75%;
	height: auto;
	margin: 1em
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly
}

.navbar>li {
	flex: 1;
	font-size: 1.4em;
	font-weight: 400;
	margin: .25em;
	padding: .25em;
	list-style: none
}

.navbar>li a:hover {
	color: var(--scn-txt-color);
	transition-duration: .6s
}

.navbar>li a:not(:hover) {
	color: var(--prm-txt-color);
	transition-duration: .7s
}

.slider img {
	max-width: 100%;
	height: auto
}

#games {
	padding: 1.5em
}

#games p {
	line-height: 1.5em
}

#games h1 {
	margin-bottom: 1em
}

#games h2 {
	margin-bottom: 1em
}

#games h2,
#games h2 a {
	color: var(--scn-txt-color)
}

#games h2 a:hover {
	font-size: 2em;
	transition-duration: .55s
}

#games h2 a:not(:hover) {
	font-size: 1.3em;
	transition-duration: .65s
}

#games img {
	width: 25%;
	height: auto;
	padding-bottom: 1em;
}

.badges {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.badges-img {
	height: 15vh;
	width: 0vw;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.badges-img img {
	min-width: 60%;
}

#aboutus {
	margin-bottom: 1em
}

#aboutus h1 {
	margin-bottom: 0.8em;
}

#aboutus p {
	line-height: 1.5em
}

footer {
	background-color: var(--ctn-bg-color);
	color: var(--scn-txt-color)
}

#contact h1 {
	margin-top: .6em
}

form {
	display: grid;
	padding: .5em
}

label {
	padding: 0 1em .5em 0
}

input {
	margin: 0 auto .75em;
	padding: .6em
}

input,
textarea {
	background-color: var(--ctn-bg-color);
	color: var(--trd-txt-color);
	border-radius: 15px;
	border: 2px solid var(--trd-txt-color);
	min-width: 300px;
	max-width: 380px
}

textarea {
	font-family: var(--font);
	font-size: 1.0em;
	resize: none;
	height: 10vh;
	margin: 0 auto;
	margin-top: .65em;
	margin-bottom: .65em;
	padding-top: .4em;
	padding-left: .9em;
	overflow: auto;
}

textarea::placeholder {
	font-family: var(--font);
	font-size: 1.0rem;
	margin: 0 auto;
	margin-top: .65em;
	margin-bottom: .65em;
	padding-top: .4em;
	padding-left: .9em
}

input:focus,
textarea:focus {
	border: 2px solid var(--scn-txt-color);
	outline: none;
}

button {
	background-color: var(--scn-txt-color);
	border-radius: 15px;
	border: 0;
	font-size: 1rem;
	margin: .65em auto .75em;
	padding: .6em;
	min-width: 75pt;
	width: 10vw
}

button:hover {
	background-color: var(--fth-txt-color);
	transition-duration: .6s;
}

button:not(:hover) {
	background-color: var(--scn-txt-color);
	transition-duration: .4s
}

button:active {
	background-color: var(--trd-txt-color);;
	transition-duration: .5s
}

footer p {
	order: -1
}

footer a,
footer p {
	color: var(--trd-txt-color)
}

footer a:hover {
	text-decoration: underline
}

.links {
	padding-bottom: 0.5em;
}

.links a {
	padding: 0.5em;
}

#copyright {
	margin-bottom: 1.0em;
}



/* privacy-policy.html */

#privacy-policy {
	margin: 8px;
	padding: 8px;
	line-height: 2em
}

#privacy-policy h1 {
	padding: 1em
}

#privacy-policy h2 {
	padding: .5em
}

#privacy-policy p {
	text-indent: 1em
}

#email-link, #website-link {
    color: var(--prm-txt-color);
}

#email-link:hover, #website-link:hover {
    color: var(--scn-txt-color);
}



/* terms-and-conditions.html */

#terms-and-conditions {
	margin: 8px;
	padding: 8px;
	line-height: 2em
}

#terms-and-conditions h1 {
	padding: 1em
}

#terms-and-conditions h2 {
	padding: .5em
}

#terms-and-conditions p {
	text-indent: 1em
}



/* 404.html */

.client-error-page {
	font-size: 3em;
	text-align: center;
	margin: 30vh auto
}

.client-error-page button {
	min-width: 230px;
	width: 20vw;
	font-size: 1.15rem
}

.client-error-page a {
	color: var(--ctn-bg-color)
}

.client-error-page #msg {
	font-size: 1em
}